<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmitted()" >
  <div class="form-group">
    <div><label for="login">Login</label></div>
    <input #login id="login" type="text" class="form-control" formControlName="login">
  </div>
  <div class="form-group">
    <div><label for="password">Password</label></div>
    <input #pass id="password" type="password" class="form-control" formControlName="password">
  </div>
  <input type="submit" [disabled]="sendDisable" value="Send">
</form>
<div *ngIf="message$ | async as message ">{{message | json}}</div>
