<p>wall works!</p>
<!--<table *ngIf="user[0] as user">-->
<!--  <tr>-->
<!--    <td>id</td>-->
<!--    <td>{{user.id}}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>login</td>-->
<!--    <td>{{user.login}}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>password</td>-->
<!--    <td>{{user.password}}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>role</td>-->
<!--    <td>{{user.role}}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>createdAt</td>-->
<!--    <td>{{user.createdAt}}</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>updatedAT</td>-->
<!--    <td>{{user.updatedAt}}</td>-->
<!--  </tr>-->
<!--</table>-->
